.search {
	margin-left: 35px;
	min-width: 100%;
}

input[type="text"] {
	font-size: 17px;
	min-width: 70%;
}

button {
	background: #ddd;
	min-width: 10%;
	font-size: 17px;
	cursor: pointer;
}

button:hover {
	background: #ccc;
}
